#header {
	background-color: #44f;
	display: fixed;
	height: 10%;
}

.conv {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}
	
.main {
	background-color: #909;
	height: 60%;
}
.peanut {
	background-color: #c33;
	height: 30%
}

.post {
	background-color: white;
	border: black 1px solid;
}

.post>.name {
	text-align: left;
	color: green;
	display: inline;
}

.post>.content {
	text-align: right;
	display: block;
}

.post>.date {
	color: blue;
	text-align: left;
	display: inline;
}