#header {
	background-color: #44f;
	display: fixed;
	height: 10%;
}

.convo_box {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}
	
#main {
	background-color: #909;
	height: 60%;
}
#peanut {
	background-color: #c33;
	height: 30%;
}

.post {
	background-color: #888;
	opacity: 0.5;
	border: black 1px solid;
}

.post>.name {
	text-align: left;
	color: black;
	background-color: #aaa;
	display: inline;
}

.post>.content {
	width: 60%;
	text-align: left;
	position: right;
	display: inline-block;
	background-color: #888;
}

.post>.date {
	background-color: #aaa;
	text-align: left;
	display: inline;
}